*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;

}

body{
    border-radius: #ffffff;
    padding: 2%;
}

.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.logo {
    height: 33px;
    top: 33px;
    left: 236px;
    margin: 5px auto;
    width: 127px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img/logo.png);
    background-position: center;
    
}

.frame {
    margin: 10px auto;
    width: 100%;
    background-image: url(img/Frame.png);
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    background-repeat: no-repeat;
    height: 250px;
    top: 86px;
    
}

.text{
    font-weight: 700;
    font-style: Semi Bold;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
    margin-top: 33px;

}

.desc {
    text-align: left;
    width: 580px;
    height: 63px;
    left: 15px;
    margin-top: 3rem;
    letter-spacing: 0%;
    line-height: 130%;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 33px;
}

/* otp */

.otp-row{
    width: 267.25px;
    height: 55px;
    display: flex;
    align-items: center;
    margin: 5px auto;
}

.otp-boxes{
    display: flex;
    align-items: center;

    gap: 10px;
}

.otp{
    width: 55px;
    height: 55px;
    border-radius: 5px;
    display: flex;
    top: 411px;
    background: rgba(137, 44, 220, 0.05);
    align-items: center;
    justify-content: center;
    font-weight: 700;

}

.notice{
    font-size: 13px;
    line-height: 130%;
    letter-spacing: 0%;
    font-weight: 400;
    margin-top: 39px;
    color: rgba(0, 0, 0, 1);
}

.team{

    margin-top: 3rem;
    h3{
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            letter-spacing: 0%;

            span{
                color: rgba(96, 95, 232, 1);
                font-weight: 600;
                font-size: 16px;
                
            }
}
}
    /* Footer */
    .footer{
        margin-top: 1rem;
        padding: 18px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        
          
        }


.socials {
    width: 100%;
    height: 96.65px;
    display: flex; 
    border-top: 1px solid #dfe1e6;
        border-bottom: 1px solid #dfe1e6;
      
    gap: 9.24px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* color: #dfe1e6; */

}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.instagram,
.facebook{
        background-color:rgba(96, 95, 232, 1);
        width: 31.65px;
        height: 31.65px;
        color: #fff;
        border-radius: 50%;
        align-items: center;
        padding: 6px;
        /* object-position: center; */
}

.copy {
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    text-align: center;
    /* width: 100%; */
    padding: 20px;
    color: rgba(0, 0, 0, 1);
}

.info {
    font-weight: 400;
    font-size: 10px;
    /* width: 100%; */
    height: 139px;
    /* margin-top: -5px; */
    align-items: center;
    text-align: center;
    letter-spacing: 0%;
}

.details{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 12px;
    
    

    li{
        font-weight: 400;
        line-height: 130%;
    }
}


@media(max-width:700px){
   .frame{
    width: 100%;
    height: 148px;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
   }
    
   .text {
    height: 17px;
    text-align: center;
    font-size: 13px;
   }

   
    
}